# Core dependencies
numpy>=1.18.5
opencv-python>=4.1.2
# CPU-only versions of PyTorch to reduce size
torch>=1.7.0+cpu
torchvision>=0.8.1+cpu
-f https://download.pytorch.org/whl/torch_stable.html
pillow>=7.1.2
pandas>=1.1.4

# YOLOv5 dependencies
seaborn>=0.11.0
matplotlib>=3.2.2
scipy>=1.4.1
tqdm>=4.41.0

# Web server
flask>=2.0.1
flask-cors>=3.0.10
gunicorn>=20.1.0

# Utilities
requests>=2.23.0
